body {
    font-family: "Inter", Helvetica, sans-serif;
}

.content-add-task {
    padding: 24px;
}

.input-table {
    display: flex;
    justify-content: center;

}

.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.line {
    width: 0.5px;
    background-color: #888;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 300px;
}

input {
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;

}

select {
    border-radius: 16px;
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
}

button {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-family: "Inter", Helvetica, sans-serif;
    ;
}

button img {
    width: 18px;
    margin-left: 12px;
}

.prio-buttons {
    display: flex;
    gap: 8px;

}

.submit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 8px;
    position: sticky;
    z-index: 3;
    bottom: 10px;
    margin-left: 35%;
}

.invert img {
    filter: invert();
}


.submit-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 160px;
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
}

.btn-lightblue:hover {
    border: 2px solid #29ABE2;
    background-color: white;
}

.buttonLigthblueFilled {
    background-color: #2a3647;
    color: white;
}

.buttonLigthblueFilled:hover {
    background-color: #29ABE2;
    border: 2px solid #29ABE2;
}

.white-text {
    color: white;
}

textarea {
    border-radius: 16px;
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 10px 2px 40px 23px;
    font-family: "Inter", Helvetica, sans-serif;
}

.prio {
    font-weight: 400;
    border-radius: 10px;
    border: 0px;
    display: flex;
    align-items: center;
    padding: 25px !important;
    border: 1px solid lightgrey;
}

.prio img {
    width: 24px;
    margin: 0 !important;
}

.prio:hover {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.10);
}


.input-with-button img {
    width: 14px;
}

.input-with-button img:hover {
    filter: drop-shadow(0 0 8px black);
}

.input-with-button {
    display: flex;
    align-items: center;



}

.input-with-button button {
    border-left: white;
    height: 43.6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-end;
}

.input-with-button input {
    border-radius: 10px;

    background-color: white;
    font-family: "Inter", Helvetica, sans-serif;
}

input:focus {
    border-color: #29ABE2;
    outline: none;
}

textarea:focus {
    border-color: #29ABE2;
    outline: none;
}

.list {
    background-color: white;
    margin-top: -13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-top: white;
    font-size: 16px;


}

.input-image {
    margin: -30px;
}

.stroke:hover {
    color: #29ABE2;
    stroke: #29ABE2;
    fill: #29ABE2;
}

.option {
    padding: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nospace-between {
    display: flex;
    justify-content: flex-start !important;
}

.option:hover {
    background-color: lightgray;
    border-radius: 8px;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.d-none {
    display: none;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.option:hover {
    cursor: pointer;
}

input::placeholder {
    font-family: "Inter", Helvetica, sans-serif;
}

input {
    font-family: "Inter", Helvetica, sans-serif;
}

#subtask {
    width: 256.4px;
}

.width {
    width: 256.4px;
}

#addSubtaskButton {
    margin: -40px -30px 38px 270px;
    width: 12px;
}

#addSubtaskButton:hover {
    filter: drop-shadow(0 0 8px black);

}

#animationBox {
    position: fixed;
    bottom: 0;
    left: calc(100vw - 55%);
}

.animation {
    animation-name: slideUp;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes slideUp {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 50%;
    }
}

@media(max-width:1000px) {
    .input-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media(max-width:768px) {
    form {
        margin-bottom: 90px;
    }

    #animationBox {
        position: fixed;
        bottom: 0;
        left: calc(100vw - 50% - 166px);
    }
}

@media(max-width:400px) {
    .submit-buttons {
        justify-content: center;
        margin: 0;
    }

    .animation {
        width: 90%;
    }
}