body {
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

.addButton {
  background-color: rgb(42, 54, 71);
  width: 300px;
  height: 56px;
  font-size: 21px;
  color: white;
  margin: 30px;
}

.createButton {
  background-color: rgb(42, 54, 71);
  height: 40px;
  min-width: 80px;
  border-radius: 10px;
  border-style: none;
  color: white;
}

.maincontainer {
  display: flex;
}

.containerTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.line {
  margin: 10px;
  width: 5px;
  height: 60px;
  background-color: rgb(41, 171, 226);
}

.line2 {
  transform: rotate(90deg);
  margin: 10px;
  width: 3px;
  height: 80px;
  background-color: rgb(41, 171, 226);
}

.add {
  background-color: rgb(245, 245, 245);
  z-index: 999; /* Dieser Div liegt über allen anderen */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 350px;
  border-radius: 30px;
}

.betterteam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(42, 54, 71);
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.inputcointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputsytle {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
  padding-left: 60px;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  cursor: pointer;
}
.buttonfield {
  display: flex;
  justify-content: center;
  gap: 20px;
}
input {
  height: 30px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid grey;
}
.margin {
  margin: 0;
  width: 100%;
}

.scrolebar {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Welchen Style? */
}

b {
  cursor: pointer;
}


.displayflex{
  margin-left: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rendercontact {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.rendercontact:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.rendercontact.selected  {
  background-color: rgb(218, 218, 218);
}

.rendercontact.sele

.flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.alphabet-group {
  margin-top: 15px;
  margin-left: 20px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  font-weight: bold;
}

#mycontact {
  height: 80vh;
  width: 430px;
  overflow-y: scroll;
}
.contactBox{
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}
.contactBoxOne{
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 20px;
}

.circle {
  border: 5px solid #ffffffb8;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.edit{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loginimg{
  margin-left: -40px;
  
}

#name, #email, #phone{
  padding-left: 10px;
}


@media (max-width: 1070px) {

  .displaynone {
    display: none;
} 
}

@media (max-width: 930px) {
  h1 {
      font-size: 20px;
  } 
}

@media (max-width: 800px) {
  p {
    display: none;
  }
}

@media (max-width: 690px) {
  img {
    display: none;
  }
  .displayflex {
    margin-left: 0px;
  }
  .addcontainer{
    gap: 0;
  }
  .inputsytle{
    padding-left: 0px;
  }

}

@media (max-width: 500px) {
  .addcontainer{
    display: flex;
    flex-direction: column;
    height: 550px;
  }
 
}

@media (max-width: 450px) {
  .addButton{
    width: 230px;
  }
  .circle{
    display: none;
  }
 
}

