.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;

  background-color: #fff;
}

.header-title {
  font-size: 24px;
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-header-info {
  cursor: pointer;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}
