/* basic styling */

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #f6f7f8;
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 61px;
}

/* basic styling END */

.start-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

/* Logo with animation */

#main-logo {
  position: absolute;

  left: calc(100vw - 50% - 101px);
  top: calc(100vh - 50% - 122px);
  width: 202px;
  height: 244px;

  animation: logo-start 1.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes logo-start {
  0% {
    left: calc(100vw - 50% - 101px);
    top: calc(100vh - 50% - 122px);
    width: 202px;
    height: 244px;
  }
  100% {
    left: 50px;
    top: 50px;
    width: 101px;
    height: 122px;
  }
}
