body {
  box-sizing: border-box;
  margin: 0;
}

.start-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#main-logo {
  position: absolute;

  left: calc(100vw - 50% - 101px);
  top: calc(100vh - 50% - 122px);
  width: 202px;
  height: 244px;

  animation: logo-start 1.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes logo-start {
  0% {
    left: calc(100vw - 50% - 101px);
    top: calc(100vh - 50% - 122px);
    width: 202px;
    height: 244px;
  }
  100% {
    left: 50px;
    top: 50px;
    width: 101px;
    height: 122px;
  }
}
