.input-table {
    display: flex;
    justify-content: center;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 50%;
}

.line {
    width: 0.5px;
    background-color: #888;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 300px;
}

input {
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;

}

select {
    border-radius: 16px;
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
}

button {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
}

button img {
    width: 18px;
    margin-left: 12px;
}

.prio-buttons {
    display: flex;
    gap: 8px;
}

.submit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 8px;
}

textarea {
    border-radius: 16px;
    border: 1px solid lightgrey;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 10px 2px 40px 23px;
}

.input-with-button img {
    width: 18px;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button button {
    border-left: white;
    height: 43.6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-end;
}

.input-with-button input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: white;
    background-color: white;
}

.list {
    background-color: white;
    margin-top: -13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-top: white;
    font-size: 16px;
}

.option {
    padding: 4px;
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.option:hover {
    cursor: pointer;
}
