body{
    margin: 0;
}
.background{
    background-color: rgb(246,247,248); /* Farbe von Mockup */
    height: 100vh;
    padding: 30px; /* Welche Grösse? */
}

.alignItems{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forgotResetHeader{
    display: flex;
    justify-content: space-between;
    padding: 30px; /* Welche Grösse? */
    align-items: center;
}

.forgotResetContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255,255,255);  /* Farbe von Mockup */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Welchen Style? */
    border-radius: 30px;/* Welche Grösse? */
    width: 400px; /* Welche Grösse? */
    gap: 30px; /* Welche Grösse? */
    padding: 10px; /* Welche Grösse? */
}

.flexdirection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Welche Grösse? */
}

button{
    cursor: pointer;
    /* Design */
}
