<nav class="sidebar">
  <img class="logo-menu" src="./img/logo_light.svg" alt="JOIN" />
  <div class="menu-container">
    <a
      id="nav01"
      class="nav-item"
      href="./summary.html"
      onclick="setNavID('nav01')"
    >
      <img src="./icons/icons_summary.svg" alt="Summary" />
      <p>Summary</p>
    </a>
    <a
      id="nav02"
      class="nav-item"
      href="./board.html"
      onclick="setNavID('nav02')"
    >
      <img src="./icons/icons_board.svg" alt="Board" />
      <p>Board</p>
    </a>
    <a
      id="nav03"
      class="nav-item"
      href="./add_task.html"
      onclick="setNavID('nav03')"
    >
      <img src="./icons/icons_add_task.svg" alt="Add Task" />
      <p>Add Task</p>
    </a>
    <a
      id="nav04"
      class="nav-item"
      href="./contacts.html"
      onclick="setNavID('nav04')"
    >
      <img src="./icons/icons_contacts.svg" alt="Contacts" />
      <p>Contacts</p>
    </a>
    <div class="nav-legal-notice">
      <a
        id="nav05"
        class="nav-item"
        href="./privacyPolicy.html"
        onclick="setNavID('nav05')"
        >Privacy Policy</a
      >
      <a
        id="nav06"
        class="nav-item"
        href="./legalNotice.html"
        onclick="setNavID('nav06')"
        >Legal Notice</a
      >
    </div>
  </div>
</nav>
